<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393125280634-sfj3vinrvu1vudigo3n07ds7c3iehlgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393125280634-sfj3vinrvu1vudigo3n07ds7c3iehlgk</string>
	<key>API_KEY</key>
	<string>AIzaSyBfMY75_KHXadibADUSwDI45POPUZHBCaA</string>
	<key>GCM_SENDER_ID</key>
	<string>393125280634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6a98e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6a98e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393125280634:ios:5727424f789e3dbd48b4c3</string>
</dict>
</plist>